#reash .r-s6 {
	// width:100%;
	margin: $margin-lg  0;
	padding-bottom: 250%;
	position: relative;
	@media screen and (min-width: $break-sm) {
		margin: $margin-lg;
		padding-bottom: 9/16*100%;	
	}
	.r-s6-grid {
		&.is-reverse { direction: rtl; }
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;
		display: grid;
		grid-template-columns: $margin-sm 1fr $margin-sm;
		grid-template-rows: 1fr 1.5fr 2fr 0.3fr 2fr 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		.grid-backdrop { grid-area: 3 / 1 / 5 / 4; }
		.grid-hero { grid-area: 2 / 2 / 4 / 3; }
		.grid-header  { grid-area: 1 / 2 / 2 / 3; }
		.grid-hero2 { grid-area: 5 / 1 / 6 / 4; }
		.grid-description  { grid-area: 6 / 2 / 7 / 3; }
		

		@media screen and (min-width: $break-sm) {
			grid-template-columns: 3fr repeat(2, 0.5fr) 1fr 1.5fr;
			grid-template-rows: repeat(2, 1fr) 1.5fr 1fr 1.5fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			.grid-hero { grid-area: 1 / 1 / 6 / 3; }
			.grid-header { grid-area: 1 / 2 / 2 / 5; }
			.grid-backdrop { grid-area: 2 / 3 / 4 / 5; }
			.grid-hero2 { grid-area: 3 / 4 / 5 / 6; }
			.grid-description { grid-area: 5 / 4 / 6 / 6; }	
		}
		
		div { 
			direction: ltr;
			background-size: cover;
			background-repeat: no-repeat;
		}
		
		.grid-header {
			font-family: $display-font;
			font-size: 48px;
			font-weight: 700;
		    align-self: center;
			text-align: center;
			@media screen and (min-width: $break-sm) {
				font-size: 64px;
				text-align: left;
			}
		}
		
		.grid-description {
			position: relative;
			margin-top: $margin-sm;
			font-family: $display-font;
			font-weight: 700;
			font-size: 16px;
			text-align: justify;

			bold {
				font-size: 24px;
			}
			.grid-button {
				box-sizing: border-box;
				padding: 8px 64px;
				text-decoration: none;
				border: 1px solid $base-color;
				font-size: 14px;
				font-family: $display-font;
				font-weight: 700;
				color: $base-color;
				background: transparent;
				transition: all .3s ease;
				text-align: center;
			
				&:hover, &:active, &:focus {
					background: $base-color;
					color: white;
				}
				
				display: block;
				@media screen and (min-width: $break-sm) {
					position: absolute;	
					top:0; 
					right:0;
				}
			}
		}
		.r-s6-image  {
			position: relative;
			align-self: end;
			img {
				width: 100%;
				height: auto;

			}
			
			&:after {
				position: absolute;
				bottom: -24px;
				left: 50%;
				transform:translateX(-50%);
				background: $base-color;
				height: 48px;
				width: 48px;
				content: '+';
				color: $active-color;
				font-weight: 100;
				font-size: 32px;
				line-height: 48px;
				text-align: center;
				border-radius: 999px;
			}
		}

		.grid-hero {
			position: relative;
			width: 100%;
			padding-bottom: 100% !important;
			// background: red;
			background-size: cover;
			// img {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	object-fit: contain;
			// }
		}
		
		.grid-backdrop {
			position: relative;
			width: 100%;
			padding-bottom: (381 / 575 * 100%) !important;
			background-size: cover;
		}
		
	}
	
	
	
}
